// Neutral Colors
$dktext: hsl(228, 25%, 31%);
$scoretext: hsl(229, 64%, 46%);
$headeroutline: hsl(217, 16%, 45%);

// Primary Colors
$scissorsgradient1: hsl(39, 89%, 49%);
$scissorsgradient2: hsl(40, 84%, 53%);
$papergradient1: hsl(230, 89%, 62%);
$papergradient2: hsl(230, 89%, 65%);
$rockgradient1: hsl(349, 71%, 52%);
$rockgradient2: hsl(349, 70%, 56%);

// Background
$bggradient1: hsl(214, 47%, 23%);
$bggradient2: hsl(237, 49%, 15%);